@{
    ViewBag.Title = "Home Page";
    Reuse.Controllers.OfertasController o = new Reuse.Controllers.OfertasController();
    Reuse.Controllers.PedidosController p = new Reuse.Controllers.PedidosController();
    var ofertas = o.getTop6Ofertas();
    var pedidos = p.getTop6Pedidos();
}

<div class="box" id="banner">
    <h2>Reuse</h2>
    <p class="lead">
        Somos uma comunidade aonde todos podem ofertar o que não precisam e pedir pelo que necessita.
        Gostou? Cadastre-se e faça parte dessa campanha! :)
    </p>
</div>

<div id="main-wrapper">
    <div class="container">
        <div class="row 200%">
            <div class="8u 12u(medium) important(medium)">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2>Ofertas</h2>
                        <p>Aqueles itens que estão no fundo de sua garagem, no qual não se vendem fácil, podem ser anunciados aqui,
                        alguém que necessite disso pode entrar em contato com você e pedir pelo item, fazendo você ganhar mais espaço e
                        ainda ajudando quem precisa.</p><a class="button alt icon fa-file-text-o" href="/Ofertas/Create">Criar Oferta</a>
                    </section>
                </div>

            </div>

            <div class="4u 12u(medium)">

                <!-- Sidebar -->
                <div id="sidebar" style="overflow-y: scroll; height:350px; margin-right: 15px;">
                    <section class="widget thumbnails">
                        <h3>Ultimas Ofertas</h3>
                        <div class="grid">
                            <div class="row 50%">
                                @foreach (var item in ofertas)
                                {
                                    <a href="/Ofertas/Details/@item.anuncioID">
                                        <div class="8u">
                                            @item.titulo
                                            <img class="image fit" src="~/File?id=@item.imagens.First().imagemID" alt="@item.imagens.First().FileName" />
                                            <p>Condição: @item.condicao <br />Localização: @item.pessoa.cidade - @item.pessoa.estado</p>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="main-wrapper">
    <div class="container">
        <div class="row 200%">
            <div class="8u 12u(medium) important(medium)">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2>Pedidos</h2>
                        <p>
                            Precisa de alguma coisa? Crie um pedido e espere uma alma generosa ajudar você, recomendamos também criar pedidos de
                            coleta de itens de difícil descarte, pois assim várias pessoas saberão quem coleta os mesmos.
                        </p><a class="button alt icon fa-file-text-o" href="/Pedidos/Create">Criar Pedido</a>
                    </section>
                </div>

            </div>

            <div class="4u 12u(medium)">

                <!-- Sidebar -->
                <div id="sidebar" style="overflow-y: scroll; height:350px;margin-right: 15px;">
                    <section class="widget thumbnails">
                        <h3>Ultimos Pedidos</h3>
                        <div class="grid">
                            <div class="row 50%">                               
                                @foreach (var item in pedidos)
                                {
                                    <a href="/Pedidos/Details/@item.anuncioID">
                                        <div class="8u">
                                            @item.titulo
                                            <img class="image fit" src="~/File?id=@item.imagens.First().imagemID" alt="@item.imagens.First().FileName" />                                            
                                            <p>Localização: @item.pessoa.cidade - @item.pessoa.estado</p>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>
