@model Reuse.Models.Usuario

@{
    ViewBag.Title = "Detalhes";
}


<div class="row box">
    <h2>Detalhes do Usuário</h2>
</div>       
<div class="row box">
    <div class="2u">
        @*  *@
        @if (@Model.avatar.Count > 0)
        {
            <img src="~/File?id=@Model.avatar.First().avatarID" alt="imagem" width="100" height="100" />
        }
    </div>
    <div class="10u">
        <span>@Html.DisplayNameFor(model => model.nome): @Html.DisplayFor(model => model.nome)</span><br />
        <span>Localização: @Html.DisplayFor(model => model.cidade) - @Html.DisplayFor(model => model.estado)</span><br />
        <span>@Html.DisplayNameFor(model => model.itensDoados): @Html.DisplayFor(model => model.itensDoados)</span><br />
        <span>@Html.DisplayNameFor(model => model.itensPedidos): @Html.DisplayFor(model => model.itensPedidos)</span>
    </div>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>