@model Reuse.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
    Model.carregarMensagens(User.Identity.Name);
}

<div class="box" style="height: 900px">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="col-lg-6">
        <h4>Verifique seus dados</h4>
        <hr />        
        <dl class="dl-horizontal">
            <div style="margin-left: 95px;">
                @if (@Model.usuario.avatar.Count > 0)
                {
                    <img src="~/Avatar?id=@Model.usuario.avatar.First().avatarID" alt="imagem" width="150" height="150" />
                }
            </div>
            <dt>Nome:</dt>
            <dd>@Model.usuario.Name</dd>
            <dt>Email:</dt>
            <dd>@Model.usuario.email</dd>
            <dt>Senha:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Troque sua senha", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Criar", "SetPassword")
                }
                ]
            </dd>
            <dt>Logins Externos:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Gerenciar", "ManageLogins") ]
            </dd>
            <dt>Endereço:</dt>
            <dd>@Model.usuario.endereco</dd>
            <dt>CEP:</dt>
            <dd>@Model.usuario.cep</dd>
            <dt>Bairro:</dt>
            <dd>@Model.usuario.bairro</dd>
            <dt>Cidade:</dt>
            <dd>@Model.usuario.cidade</dd>
            <dt>Estado:</dt>
            <dd>@Model.usuario.estado</dd>
            <dt>Celular:</dt>
            <dd>
                @(Model.usuario.celular ?? "Nenhum") [
                @if (Model.usuario.celular != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
            <dt>Telefone:</dt>
            <dd>@Model.usuario.telefone</dd>
            <dt>Itens Pedidos:</dt>
            <dd>@Model.usuario.itensPedidos</dd>
            <dt>Itens Doados:</dt>
            <dd>@Model.usuario.itensDoados</dd>
            <dt>Medalha:</dt>
            <dd>@Model.usuario.medalha</dd>
        </dl>
    </div>
    <div class="col-lg-6">
        @if (Model.mensagens.Count != 0)
        {
            foreach (var item in Model.mensagens)
            {
                var tipo = "";
                if (item.Anuncio.tipo == false)
                {
                    tipo = "Pedidos";
                }
                else
                {
                    tipo = "Ofertas";
                }                
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>Nova mensagem de: @Html.ActionLink(item.Remetente.Name, "Details/" + item.Remetente.pessoaID, tipo)</p>
                    @if (tipo == "Pedidos")
                    {
                        <p>Quero doar o item @Html.ActionLink(item.Anuncio.titulo, "Details/" + item.Anuncio.anuncioID, tipo) para você! Segue meu contato:</p>
                        <span>Endereço: @item.Remetente.endereco</span><br />
                        <span>Cep: @item.Remetente.cep</span><br />
                        if (item.Remetente.bairro != null)
                        {
                            <span>Bairro: @item.Remetente.bairro</span><br />
                        }
                        <span>Localização: @item.Remetente.cidade - @item.Remetente.estado</span><br />
                        if (item.Remetente.telefone != null) { 
                            <span>Telefone: @item.Remetente.telefone</span><br />
                        }
                        <span>Celular: @item.Remetente.celular</span>
                    }
                    else
                    {
                        <p>Preciso do seu item: @Html.ActionLink(item.Anuncio.titulo, "Details/" + item.Anuncio.anuncioID, tipo). Segue meu contato:</p>
                        <span>Endereço: @item.Remetente.endereco</span><br />
                        <span>Cep: @item.Remetente.cep</span><br />
                        if (item.Remetente.bairro != null)
                        {
                            <span>Bairro: @item.Remetente.bairro</span><br />
                        }
                        <span>Localização: @item.Remetente.cidade - @item.Remetente.estado</span><br />
                        if (item.Remetente.telefone != null)
                        {
                            <span>Telefone: @item.Remetente.telefone</span><br />
                        }
                        <span>Celular: @item.Remetente.celular</span>
                    }
                    @Html.ActionLink("Confirmar troca", "Confirmar/" + item.Anuncio.anuncioID, tipo, new { MensagemID = item.MensagemID }, null);
                </div>
            }
        }
        else
        {
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>Não há novas mensagens para você!</p>
            </div>
        }
    </div>
</div>