@model Reuse.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Criar Senha";
}

<div class="row box">
    <div class="row 12u">
        <h2 style="margin: 0;">@ViewBag.Title</h2>
    </div>
    <div class="row 12u">
        <span class="text-info">
            Você ainda não possui uma senha, adicione um para que possa logar sem contas externas.
        </span>
    </div>
    <div class="row 12u">
        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal 12u", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h4>Informe sua senha</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirmar" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}