@model PagedList.IPagedList<Reuse.Models.Anuncio>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    var categorias = Reuse.Models.Categoria.getCategorias();
}

@if (ViewBag.success == 1)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Sucesso!</strong> Aguarde o retorno do outro usuário para entrar em contato!
    </div>
}
@if (ViewBag.success == 2)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Sucesso!</strong> O anuncio foi encerrado, obrigado por usar o Reuse! Volte Sempre! :D
    </div>
}
@if (ViewBag.error == 1)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erro</strong> Não é possível pedir seu próprio item.
    </div>
}
@if (ViewBag.error == 2)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erro</strong> Você não está autenticado no site, faça o login ou cadastre-se ao lado.
    </div>
}

<div class="row box" style="padding: 0; margin-left: 0%;">
    <div class="7u">
        <h2>Ofertas</h2>
    </div>
    <div class="5u" style="padding: 1%;">
        @Html.ActionLink("Ofereça um item", "Create", null, htmlAttributes: new { @class = "button big", @style = "float: right;" })
    </div>
</div>


<div class="row">
    <div class="3u">
        <nav id="nav" class="vertical">
            <ul class="nav-vertical">
                <li><h3>Categorias</h3></li>
                <li>@Html.ActionLink("Mostrar todos", "Index")</li>
                @foreach (Reuse.Models.Categoria categoria in categorias)
                {
                    <li>
                        @Html.ActionLink(categoria.titulo.ToString(), "Index", new RouteValueDictionary { { "categoria", categoria.titulo.ToString() } })
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="9u" style="margin-top: 2.5%;">
        <div class="box feature">
            @using (Html.BeginForm("Index", "Ofertas", FormMethod.Get))
            {
                <div class="12u" style="padding: 1em;">
                    Procurar por título:
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @style = "display: inline" })
                    <input type="submit" value="Procurar" class="icon icon-search" />
                </div>
            }
        </div>
        <br />
        @foreach (var item in Model)
        {
            <div class="12u">
                <!-- Box -->
                <section class="box feature 12u" style="display: inline-flex;">
                    <a href="#" class="inner image fit">
                        <img src="~/File?id=@item.imagens.First().imagemID" alt="imagem" style="width: 70%; margin-left: 20%;" />
                    </a>
                    <div class="inner 12u">
                        <header>
                            <h2>@Html.ActionLink(item.titulo, "Details", new { id = item.anuncioID })</h2>
                        </header>
                        <p><strong>Condição:</strong> @Html.DisplayFor(modelItem => item.condicao)</p>
                        <p><strong>Anuciado por:</strong> <a href="Usuarios/Details/@item.pessoaID">@Html.DisplayFor(modelItem => item.pessoa.nome)</a></p>
                        <p><strong>Categoria:</strong> @Html.DisplayFor(modelItem => item.categoria.titulo) - @Html.DisplayFor(modelItem => item.subCategoria)</p>
                        <a class="btn btn-default" target="popup"
                           onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://reuse.gear.host/Ofertas/Details/@item.anuncioID', 'name', 'width=600,height=400')">
                            <img src="http://wap.timotta.com/assets/logo-facebook-pequeno-075bec2439cc1f5d31f6e50b2592926a.gif" /> Compartilhar
                        </a>
                        <a class="btn btn-default" target="popup"
                           onclick="window.open('https://twitter.com/intent/tweet?text=Olhem só: @item.titulo para doação. Acesse https://reuse.gear.host/Ofertas/Details/@item.anuncioID para ver mais.', 'name', 'width=600,height=400')">
                            <img src="https://g.twimg.com/twitter-bird-16x16.png" /> Tweet
                        </a>
                    </div>
                </section>

            </div>
            <br />
        }
        <br />
        <div class="box" style="padding: 0.5em 1em;">
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>