@model Reuse.Models.Anuncio

@{
    ViewBag.Title = "Detalhes";
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="12u">
    <!-- Box -->
    <section class="box feature 12u" style="display: inline-flex;">
        <a href="#" class="inner image">
            <img src="~/File?id=@Model.imagens.First().imagemID" alt="imagem" width="50" height="100" />
        </a>
        <div class="inner 12u">
            <header>
                <h2>@Model.titulo</h2>
            </header>
            <p>Categoria: @Model.categoria.titulo - @Model.subCategoria</p>
            @Html.ActionLink("Eu Tenho!", "DoarItem", new
       {
           anuncioID = Model.anuncioID,
           titulo = Model.titulo,
           tipoAnuncio = "Pedidos",
           remetente = User.Identity.Name.ToString(),
           destinatario = Model.pessoa.email
       }, htmlAttributes: new { @class = "btn btn-default" })

            <a class="btn btn-default" target="popup"
               onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://reuse.gear.host/Ofertas/Details/@Model.anuncioID', 'name', 'width=600,height=400')">
                <img src="http://wap.timotta.com/assets/logo-facebook-pequeno-075bec2439cc1f5d31f6e50b2592926a.gif" /> Compartilhar
            </a>
            <a class="btn btn-default" target="popup"
               onclick="window.open('https://twitter.com/intent/tweet?text=Preciso de @Model.titulo para doação. Acesse https://reuse.gear.host/Ofertas/Details/@Model.anuncioID para ver mais.', 'name', 'width=600,height=400')">
                <img src="https://g.twimg.com/twitter-bird-16x16.png" /> Tweet
            </a>
        </div>
    </section>
</div>

<br />
<div class="12u">
    <!-- Box -->
    <section class="box feature 12u">
        <div class="inner 12u">
            @if (Model.video != null)
            {
                <header>
                    <h2>Vídeo:</h2>
                </header>
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.video" frameborder="0" allowfullscreen></iframe>
                </div>
            }
            <header>
                <h2>Descrição:</h2>
            </header>
            <p>@Model.descricao</p>
        </div>
    </section>
</div>

<br />
<div class="12u">
    <!-- Box -->
    <section class="box feature 12u">
        <div class="inner 12u">
            <header>
                <h2>Perfil do anunciante:</h2>
            </header>
            <p>Nome: @Model.pessoa.nome</p>
        </div>
    </section>
</div>